<html>

<head>
    <title>成信新闻索引 - CUIT EASY WEB</title>
</head>

<body>
    <div id="container" style="text-align:center;margin-top:2%">
        <h1>News Index - CUIT Helper API X</h1>
        <br/><br/>
        <a href="/news_zonghe" target="_blank">综合新闻</a>
        <br/><br/>
        <a href="/news_xueshu" target="_blank"><b>学术动态(学术讲座预告)</b></a>
        <br/><br/>
        <a href="/news_wenghua" target="_blank"><b>文化活动(社团，团组织活动)</b></a>
        <br/><br/>
        <a href="/news_xingxigonggao" target="_blank">信息公告</a>
        <br/><br/>
        <a href="/news_gongzuojiaoliu" target="_blank">工作交流</a>
        <br/><br/>
        <a href="/news_jiaodian" target="_blank">焦点新闻</a>
        <br /><br />
        <a href="/guojijiaoliu" target="_blank">国际交流</a>
        <br/><br/><br/><br/><br/>
        <p>a site for API use of cuit.akakanch.com</p>
        <br /><br />
        kanch@akakanch.com
        <br /><br />
        <b> <a href="http://akakanch.com" target="_blank"> kanch</a> &copy; 2017</b>
    </div>
</body>

</html>