<html>

<head>
    <title>成信新闻索引 - CUIT EASY WEB</title>
</head>

<body>
    <div id="container" style="text-align:center;margin-top:2%">
        <h1>成信新闻索引 - CUIT EASY WEB</h1>
        <br/><br/>
        <a href="/news_zonghe" target="_blank">综合新闻</a>
        <br/><br/>
        <a href="/news_xueshu" target="_blank"><b>学术动态(学术讲座预告)</b></a>
        <br/><br/>
        <a href="/news_wenghua" target="_blank"><b>文化活动(社团，团组织活动)</b></a>
        <br/><br/>
        <a href="/news_xingxigonggao" target="_blank">信息公告</a>
        <br/><br/>
        <a href="/news_gongzuojiaoliu" target="_blank">工作交流</a>
        <br/><br/>
        <a href="/news_jiaodian" target="_blank">焦点新闻</a>
        <br/><br/><br/><br/><br/>
        <a href="http://akakanch.com" target="_blank">by kanch</a>
    </div>
</body>

</html>